:root {
  /* Colors */
  --color-accent: #43597d;
  --color-primary: #2b3240;
  --color-success: #238a59;
  --color-danger: #de7456;
  --color-text: #000000;
  --color-text-light: #545454;

  /* Font */
  --font-family: Helvetica, Arial, sans-serif;
}
