$enable-cssgrid: true;
$enable-dark-mode: false;
$enable-grid-classes: false;
$enable-negative-margins: true;

$primary: #43597d;
$success: #238a59;
$danger: #de7456;
$dark: #2b3240;

$font-family-sans-serif:
  Helvetica,
  system-ui,
  -apple-system,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  "Noto Sans",
  "Liberation Sans",
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji";

$headings-color: $dark;
$headings-font-weight: 300;

$h1-font-size: 1.75rem;
$h5-font-size: 1.125rem;
$headings-margin-bottom: 0;

@import "bootstrap/scss/bootstrap";

h1 {
  letter-spacing: -1px;
}
