/*********************************/
/* Flex                          */
/*********************************/

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

/*********************************/
/* Grid                          */
/*********************************/

.grid--1-1 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid--1-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.grid--2-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

/*********************************/
/* Gap                           */
/*********************************/

.gap-4 {
  gap: 4px;
}

.gap-8 {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.gap-32 {
  gap: 32px;
}

.gap-48 {
  gap: 48px;
}

.gap-64 {
  gap: 64px;
}
