@import "styles/mixins";

.playlist {
  align-items: start;
  border: 1px solid transparent;
  display: flex;
  gap: 24px;
  padding: 24px;
  transition: background 150ms ease-in;

  &:hover {
    background: #fcffff;
    border-radius: 8px;
    border: 1px solid #a0c0d6;
    cursor: pointer;
  }

  &:not(:first-child):not(:hover) {
    border-top: 1px dotted #eee;
  }
}

@include media-breakpoint-down(md) {
  .playlist {
    padding: 16px;
  }
}
