@import "tailwindcss";

@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: all;
}

@theme {
  --color-primary: #43597d;
}

h1 {
  @apply text-2xl font-light;
}

.brand {
  @apply text-3xl font-['MuseoModerno'] tracking-tight;
}
